<div>

  <div style="text-align:center">
    <h1>
      Welcome to CodeBook
    </h1>

    <h3>
      Coming Soon
    </h3>

    <ui-switch size="large" color="#616161" (change)="onChange($event)" checked></ui-switch>

  </div>

  <ngx-gallery [ngStyle]="{'background': bg_color}" class="gallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

  <ngx-flip class="about-me-card" [flip]="flipDiv" (click)="flipDiv=!flipDiv">

    <div front>
      <h4>About</h4>
      <p>Build using Node.JS, Electron, Angular, Plop.JS</p>
      <p>Bring your own templates or download samples</p>
      <p>Free for Personal and Commercial use</p>
    </div>

    <div back>
      <h4>Developer</h4>
      <h2>Sanchit Gupta</h2>
      <h5>gupta.sanchit90@gmail.com</h5>
    </div>

  </ngx-flip>
</div>